*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: #efe3c9;
    color: #000000;
    line-height: 1.6;
    font-size: 18px;
}
#content {
    padding: 6em 1em;
    margin: 50px auto;
    border: 5px solid;
}
wrap-img {
  float: left; /* Aligns the image to the left, text wraps around the right */
  margin-right: 15px; /* Adds space between the image and the text */
  margin-bottom: 10px; /* Adds space below the image */
  width: 150px; /* Adjust the width as needed */
  height: auto;
}
.container {
  overflow: hidden;
}
nav {
    background-color: #940101;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
        height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(248, 248, 248);
}
nav a:hover {
    background-color: rgb(221, 148, 148);
}   

nav ptext {
    color: black;
    font-size: 20px;
    margin-right: auto;
    margin-left: 20px;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.gallery {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  padding: 20px;
}
.gallery-item {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}
.gallery-item img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.gallery-item:hover img {
  transform: scale(1.08);
}